<div class="container-fluid bg-warning">
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-md navbar-light sticky-top bg-warning" style="width: 80%;padding-top: 3px ">

            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>


        </nav>
    </div>
</div>
<div class="container-fluid bg-dark ">
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-md navbar-light " style="width: 80%;  ">
            <div>
                <a href="#" class="navbar-brand align-self-start"
                    style="color:#f1c40f; font-weight: bold; font-size: 25px; font-style: italic;"> hello brrrrand
                </a>
                <p class="align-self-start " style="margin-top: -10px; color: rgb(219, 219, 219);"> your company
                    toggle
                    here</p>
            </div>

            <a href="#eman" data-toggle="collapse" class="navbar-toggler">
                <span class="navbar-toggler-icon ">

                </span>
            </a>

            <div class=" collapse navbar-collapse justify-content-end " id="eman">


                <ul class="navbar-nav " style="padding-right:50px ;">

                    <li class="nav-item ">
                        <a href="# " class="nav-link " style="color: rgb(219, 219, 219);"> home</a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link " style="color: rgb(219, 219, 219);"> page</a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link " style="color: rgb(219, 219, 219);"> blog</a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link " style="color: rgb(219, 219, 219);"> protifolio</a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link " style="color: rgb(219, 219, 219);"> componant</a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link " style="color: rgb(219, 219, 219);">contact</a>
                    </li>



                </ul>

            </div>


        </nav>
    </div>
</div>